logs
project/project
project/target
target
public
tmp
.history
dist
/.idea
/.vscode
/.metals
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
application_*.conf
reference_*.conf
.gradle/